@using System.Data
@model DataTable

<div>
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a asp-controller="Home" asp-action="Index">Home</a>
                <i class="fa fa-arrow-right"></i>
            </li>
            <li>
                <span>City List</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    @if (TempData["ErrorMsg"] != null)
    {
        <div id="customToast" class="custom-toast">
            <span>@TempData["ErrorMsg"]</span>
            <button class="close-toast" onclick="closeToast()">×</button>
        </div>
    }

    @if (TempData["SuccessMsg"] != null)
    {
        <div id="customToast1" class="custom-toast1">
            <span>@TempData["SuccessMsg"]</span>
            <button class="close-toast1" onclick="closeToast1()">×</button>
        </div>
    }


    <!-- Table begin -->
    <div class="portlet light portlet-fit bordered" style="margin-top:10px">
        <div class="portlet-title d-flex justify-content-between">
            <div class="caption">
                <i class="icon-settings"></i>
                <span class="caption-subject sbold uppercase">City List</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                    <a asp-controller="City" asp-action="CityForm" class="btn green">
                        <i class="fa fa-plus"></i>
                        Add New
                    </a>
                    <a asp-controller="City" asp-action="ExportToExcel" class="btn green">
                        Export to Excel
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <!--Filter Start -->
            <div class="table-toolbar">
                <form method="post">
                    <div class="form-group col-md-2">
                        <select class="form-control" id="searchBox" name="CountryID">
                            <option value="">Country Name...</option>
                            @foreach (var country in ViewBag.CountryList)
                            {
                                <option value="@country.CountryID">@country.CountryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="form-control" id="searchBox" name="StateID">
                            <option value="">State Name...</option>
                            @foreach (var state in ViewBag.StateList)
                            {
                                <option value="@state.StateID">@state.StateName</option>
                            }
                        </select>
                        @* <input type="text" id="searchBox" class="form-control" placeholder="State Name..."> *@
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" id="searchBox" name="CityName" class="form-control" placeholder="City Name...">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" id="searchBox" name="CityCode" class="form-control" placeholder="City Code...">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="submit" asp-action="CityFilter" asp-controller="City" id="searchBox" class="btn btn-success form-control" value="submit">
                    </div>
                </form>
            </div>
            <!--Filter End-->
            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>City Code</th>
                        <th>State Name</th>
                        <th>Country Name</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dataRow in Model.Rows)
                    {
                        <tr>
                            <td>@dataRow["CityName"]</td>
                            <td>@dataRow["CityCode"]</td>
                            <td>@dataRow["StateName"]</td>
                            <td>@dataRow["CountryName"]</td>
                            <td class="d-flex">
                                <a asp-action="CityForm" asp-controller="City" asp-route-CityID="@dataRow["CityID"]" asp-route-countryID="@dataRow["CountryID"]" class="btn btn-primary btn-sm" style="padding: 2px 6px; font-size: 12px;">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a asp-action="CityDelete" asp-controller="City" asp-route-CityID="@dataRow["CityID"]" class="btn btn-danger btn-sm delete-button" style="padding: 2px 6px; font-size: 12px;">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Table End -->
</div>

<script>
    
</script>
